<!DOCTYPE html>
<html>
 <head>
    <link rel="stylesheet" href="style.css">
    <script src=""></script>
    <meta>
    <title>This my first HTML example with 188</title>
 </head>
 <!--this is my page-->
  <body style="color: rgb(248, 12, 36);"></body>
    <h1>  <b><i>188 web cours</i></b></h1>
    <h3>this is class 2 </h3>
    <p class="typeA">ibfgurbgirbgviebrvurebviuwr<br>dvvsdvsd</p>
    <h3>destinations</h3>
    <ol>
      <li>beit yanai</li>
      <li>zicron</li>
      <li>eilat</li>
    </ol>
   </ul>
   <li>west</li>
   <li>north</li>
   <li>south</li>
    </ul>
    <a href="https://www.snow-forecast.com/resorts/Ischgl/6day/mid" target="_parent">"snow report for ischgl </a>
    <br><br>
    <table style="border:1px black">
      <tr>
         <th></th tyle="border:1px black">ID</th>
         <th>Name</th>
         <th>Email</th>
      </tr>
      <tr>
         <td>1</td>
         <td>yoni</td>
         <td>yonismail</td>
      </tr>
    </table>
    <img src="../images/maxresdefault.jpg" alt="there is no picture found">
    <iframe width="420" height="315"
src="https://www.youtube.com/embed/tgbNymZ7vqY">
</iframe>

 </body>   
</html>
